<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Face Safety</title>
    <!-- Adicionar Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="display-4">Face Safety</h1>
                    <p class="lead">Bem-vindo ao Face Safety!</p>
                    <p>Este é um projeto para autenticar usuários usando reconhecimento facial.</p>
                    <p>Para começar, faça login ou registre-se.</p>
                    <div>
                        <a href="/login" class="btn btn-primary mr-2">Login</a>
                        <a href="/register" class="btn btn-secondary">Registrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Adicionar Bootstrap JS e Popper.js para funcionalidades como modais, tooltips, etc. (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
